html {
    background-color: #292F44;
    color: white;
    font-family: 'Sarabun', sans-serif;
}

input, textarea {
    background-color: #292F44;
    margin-bottom: 2%;
    color: white;
    border-radius: 5px;
}

label {
    font-size: 15px;
}

form {
    width: 28%;
    padding: 2%;
    margin: 0 auto;
    background-color: #3F4364;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.267);
    margin-top: 3%;
}