* {
    font-family: 'Sarabun', sans-serif;
}

a {
    text-shadow: black 2px 2px 4px;
}

html {
    background:linear-gradient(to right, #292F44 5%, #292F44 100%);
}

header {
    width: 100%;
    height: 100px;
    background-color: #3F4364;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}



.left-half, .right-half {
    height: 728px;
    width: 50%;
    float: left;
    background-color: #292F44;
}

.main_pic {
    margin: 2.5% 0% 0% 35%;
    height: 390px;
    width: 52%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    border-radius: 6px;
}

.main_pic img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.main_title {
    margin: 5% 0% 0% 0%;
    width: 50%;
    height: 45px;
    background-color: #3F4364;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_title a {
    padding: 3% 0% 0% 10%;
    display: inline-block;
}

.main_desc {
    margin: 2% 0% 0% 0%;
    height: 400px;
    width: 50%;
    background-color: #3F4364;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_totalplayers {
    margin: 2% 0% 0% 0%;
    height: 50px;
    width: 50%;
    background-color: #3F4364; 
    border-radius: 15px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_totalplayers a {
    padding: 3.5% 0% 0% 10%;
    display: inline-block;
}

.main_join {
    margin: 3% 0% 0% 0%;
    height: 50px;
    width: 50%;
    background-color: #292F44; 
}


.main_join button {
    background-color: #3F4364; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 10px;
    transition-duration: 0.4s;
    margin-left: 33%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0.5px solid black;
}

.main_join button:hover {
    background-color: black; /* Green */
    color: white;
}

.containertje {
    border: 0px solid white;
    width: 24.25%;
    height: 520px;
    margin: 1% 0.375% 0.75% 0.375%;
    float: left
}

.showGame {
    width: 100%;
    height: 364px;
    background-color: darkgrey;
    float: left;
    overflow: hidden;
    border-radius: 10px;
}

.showGame img {
    width: 100%;
    height: 100%;
}


.showDesc {
    width: 100%;
    height: 100px;
    background-color: #3F4364;
    margin: 5% 0% 0% 0%;
    float: left;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    padding: 3%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

.showDesc {
    margin: 5% 0% 0% 0%;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(57, 57, 57);
}

.left-half-arrow {
    width: 3%;
    height: 2%;
    margin: 9% 0% 0% 35%;  
}

header h1 {
    width: 10%;
    height: 5%;
    margin: 0 auto;
    padding-top: 2%;
    text-shadow: black 2px 2px 4px;
}

header a {
    float: right;
    margin-right: 2%;
    color: white;
}