* {
    font-family: 'Sarabun', sans-serif;
}

a {
    text-shadow: black 2px 2px 4px;
}

html {
    background:linear-gradient(to right, #292F44 5%, #292F44 100%);
}

header {
    width: 100%;
    height: 100px;
    background-color: #3F4364;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

header h1 {
    text-align: center;
    padding-top: 2%;
}

.showGame {
    width: 24.25%;
    height: 400px;
    background-color: red;
    margin: 1% 1% 0% 0%;
    float: left;
    overflow: hidden;
}

.showGame_Last {
    width: 24.25%;
    height: 400px;
    background-color: red;
    margin: 1% 0% 0% 0%;
    float: left;
}



.showDesc_Last, .showDesc {
    width: 24.25%;
    height: 100px;
    background-color: #3F4364;
    margin: 1% 0% 0% 0%;
    float: left;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    padding: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.showDesc {
    margin: 1% 1% 0% 0%;
}

.showDesc h3 {
    padding-left: 2%;
}

.showDesc_Last h3 {
    padding-left: 2%;
}

.left-half, .right-half {
    height: 728px;
    width: 50%;
    float: left;
    background-color: #292F44;
}

.main_pic {
    margin: 13% 0% 0% 35%;
    height: 390px;
    width: 52%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    border-radius: 6px;
}

.main_pic img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.main_title {
    margin: 5% 0% 0% 0%;
    width: 50%;
    height: 45px;
    background-color: #3F4364;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_title a {
    padding: 3% 0% 0% 10%;
    display: inline-block;
}

.main_desc {
    margin: 2% 0% 0% 0%;
    height: 400px;
    width: 50%;
    background-color: #3F4364;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_totalplayers {
    margin: 2% 0% 0% 0%;
    height: 50px;
    width: 50%;
    background-color: #3F4364; 
    border-radius: 15px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    color:white;
    border: 0.5px solid black;
}

.main_totalplayers a {
    padding: 3.5% 0% 0% 10%;
    display: inline-block;
}

.main_join {
    margin: 3% 0% 0% 0%;
    height: 50px;
    width: 50%;
    background-color: #292F44; 
}


.main_join button {
    background-color: #3F4364; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 10px;
    transition-duration: 0.4s;
    margin-left: 33%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0.5px solid black;
}

.main_join button:hover {
    background-color: black; /* Green */
    color: white;
}