html {
    background-color: #292F44;
    color: white;
    font-family: 'Sarabun', sans-serif;
}

.container {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #3F4364;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.267);
    border: 0.5px solid black;
    padding: 1% 1% 1% 1%;
}

.redirect {
    margin-top: 1%;
    text-align: center;
}

a {
    color: white;
}